.selector-for-some-widget {
  box-sizing: content-box;
}

img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.music{
  padding-left:0;
  padding-right:0; 
  border-right: 1px solid #fff;
}

i.fa-play-circle{
  display: flex;
  align-self: center;
  }

i.fa-play-circle:hover{
  color: grey;
}

.playlistRight i.fas:hover{
  color: grey;
}

img.imgPlay{
  height: 400px;
  width: 400px;
}

.musicPlayer{
  display: flex;
  justify-content: center;
}

.timePlayer{
  align-items: baseline;
}

i.fa-backward{
  font-size: 30px;
}

i.fa-play{
  font-size: 30px;
}

i.fa-forward{
  font-size: 30px;
}

.arrow{
  font-size:20px;
}

.ellipsis{
  font-size:20px;
}

i.fa-play-circle{
  font-size:25px;
}

.list-group button{
  cursor: pointer;
}

i.fas{
  cursor: pointer;
}

@media only screen and (max-width: 800px){
  .playlistLeft{
    display: none;
  }
}

@media only screen and (max-width: 800px){
  i.fa-angle-left{
    display: none;
  }
}

button:focus{
  outline: none;
}

.playlistLeft{
  max-height: 760px;
  overflow: scroll;
}
::-webkit-scrollbar { 
    display: none; 
}

@media only screen and (max-width: 800px){
  .playlistRight{
    max-height: 600px;
  }
}
}
