.selector-for-some-widget {
  box-sizing: content-box;
}

body{
  background-color: fuchsia;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.playlistleft{
  padding-left:0;
  padding-right:0; 
  border-right: 2px solid #fff;
  height: calc(100vh - 97px);
  overflow: scroll;
}

i.fa-play-circle{
  display: flex;
  align-self: center;
  color: #fff;
  }

i.fa-play-circle:hover{
  color: grey;
}

.playlistright i.fas:hover{
  color: grey;
}

.music {
  background-color: rgba(0, 0, 0, 0.6)
}

img.imgplay{
  height: 400px;
  width: 400px;
}

.musicplayer{
  display: flex;
  justify-content: center;
}

.timeplayer{
  align-items: baseline;
}

i.fa-backward{
  font-size: 30px;
}

#playme{
  font-size: 65px;
}

i.fa-forward{
  font-size: 30px;
}

.arrow{
  font-size: 20px;
}

.ellipsis{
  font-size: 20px;
}

i.fa-play-circle{
  font-size:25px;
}

.list-group li{
  cursor: pointer;
  background-color: black;
}

i.fas{
  cursor: pointer;
}

@media only screen and (max-width: 800px){
  .playlistleft{
    display: none;
  }
}

@media only screen and (max-width: 800px){
  i.fa-angle-left{
    display: none;
  }
}

@media only screen and (min-width: 0px){
  i.fa-angle-right{
    display: none;
  }
}

::-webkit-scrollbar { 
    display: none; 
}

/* @media only screen and (max-width: 800px){
  .playlistright{
    max-height: 600px;
  }
} */

#controlBoarder{
display: flex;
align-items: center;
}

.artistsong{
  display: block
}
