.selector-for-some-widget {
  box-sizing: content-box;
}

img{
  height: 75px;
  width: 75px;
}

.music{
  padding-left:0;
  padding-right:0;
}

i.fa-play-circle{
    display: flex;
  align-self: center;
  cursor: pointer;
}

img.imgPlay{
  height: 300px;
  width: 300px;
}

.musicPlayer{
  display: flex;
  justify-content: center;
}

.timePlayer{
  align-items: baseline;
}

i.fa-backward{
  font-size: 30px;
  cursor: pointer;
}

i.fa-play{
  font-size: 30px;
  cursor: pointer;
}

i.fa-forward{
  font-size: 30px;
  cursor: pointer;
}

.arrow{
  font-size:20px;
}

.ellipsis{
  font-size:20px;
}

i.fa-play-circle{
  font-size:25px;
  cursor: pointer;
}

.list-group button{
  cursor: pointer;
}

i.fa-random{
  cursor: pointer;
}

i.fa-redo-alt{
  cursor: pointer;
}